body {
  font-family: "Trebuchet (MS)", sans-serif;
}

.container {
  text-align: center;
  margin: auto;
  width: 50%;
 }

.section {
  text-align: left;
  width: 40%;
}

table {
  display: table;
  width: 100%;
}


td figure img {
  height: auto;
  width: 400px;
}


.title {
  font-size: 48px;
  font-weight: bold;  
}

.caption {
  font-size: 24px;
  font-weight: bold;
}

.banner {
  width: 600px;
  height: auto;
}

.steps li {
  margin-bottom: 10px;
  margin-top: 10px;
}